<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增角色</title>
    {include file="public/header" /}
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" action="" lay-filter="example">

            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入角色名称"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">选择权限</label>
                <div class="layui-input-block">
                    <div id="LAY-auth-tree-index"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit lay-filter="submit">保存</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="__LAYUI_MINI__/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="__LAYUI_MINI__/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>

    layui.use(['form', 'authtree'], function () {
        let ajaxData = {};
        let postUrl = `{__SELF__}`;
        let editData = `{$editData}`;
        let layuiRes = `__LAYUI_MINI__/`;
        let form = layui.form
            , layer = layui.layer
            , authtree = layui.authtree
            , $ = layui.jquery;
        editData = JSON.parse(editData);

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '标题至少得1个字符啊';
                }
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            let authIds = authtree.getChecked('#LAY-auth-tree-index');
            ajaxData.authIds = authIds;
            ajaxData.code = 'add';
            if (editData !== false) {
                ajaxData.id = editData.id;
                ajaxData.code = 'save';
            }
            $.each(data.field, function (k, v) {
                ajaxData[k] = v;
            });
            $.ajax({
                url: postUrl,
                type: 'POST',
                data: ajaxData,
                success(res) {
                    res = JSON.parse(res);
                    layer.msg(res.msg);
                    if (res.code != -1) {
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                }
            });
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "name": editData.name,
        });


        // tree
        $.ajax({
            url: postUrl,
            type: 'post',
            dataType: 'json',
            data: {code: 'treeData', id: editData.id},
            success: function (res) {
                let trees = authtree.listConvert(res.data.list, {
                    primaryKey: 'id'
                    , startPid: 0
                    , parentKey: 'pid'
                    , nameKey: 'title'
                    , valueKey: 'id'
                    , checkedKey: res.data.checkedId//选中数据
                });
                //加载tree
                authtree.render('#LAY-auth-tree-index', trees, {
                    inputname: 'authids[]',
                    layfilter: 'lay-check-auth',
                    theme: 'auth-skin-default',
                    themePath: layuiRes + '\\js\\lay-module\\auth-tree\\tree_themes\\',//主题目录
                    autowidth: true,
                });
            }
        });
    })
    ;
</script>

</body>
</html>